<div class="row">
    <div class="col-xs-12">
        <img src="{{ recipe.imagePath }}" alt="" class="img-responsive" />
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>{{ recipe.title }}</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" dropdown-toggle>
            <button type="button" class="btn btn-primary dropdown-toggle">
                Manage Recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a (click)="addToShoppingList()" style="cursor: pointer"    
                        >Shopping List</a
                    >
                </li>
                <li><a routerLink="edit">Edit Recipe</a></li>
                <li><a href="#">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">{{ recipe.description }}</div>
</div>

<div class="row" *ngFor="let ingr of recipe.ingredients">
    <div class="col-xs-12">{{ ingr.name }} : {{ ingr.quantity }}</div>
</div>
